configparser
ipykernel
ipywidgets
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
kaleido
lxml
nbformat
numpy
openpyxl
orca
pandas
plotly
pyarrow
PyYAML
regex
requests
scipy
shiny
tqdm
XlsxWriter
msal
python-dotenv